body {
    margin: 0;
    background-color: #F0F2F5;
}
.left-side {
    background-color: #F0F2F5;
    width: 55%;
    height: auto;
    float: left;
}
@media (max-width: 517.55px) {
    .left-side {
        float: none;
    }
}
.left-side h1 {
    margin: 0;
    color: #1877F2;
    font-size: 52px;
    font-family: tahoma;
    padding-top: 28%;
    padding-left: 23%;
    padding-bottom: 10px;
}
.left-side p {
    font-size: 28px;
    padding-left: 23%;
    font-family: tahoma;
    margin: 0;
    
}

.right-side {
    background-color: #F0F2F5;
    width: 45%;
    height: auto;
    overflow: hidden;
    padding-top: 9%;
}
.content {
    background-color: #ffffff;
    width: 396px;
    min-height: 345px;
    padding: 20px 10px 0 10px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    text-align: center;
    box-shadow: 3px 2px 3px 2px gainsboro;
}
.content input {
    width: 364px;
    height: 52px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    margin: 8px;
    font-size: 18px;
}
.content p {
    font-size: 18px;
    text-align: center;
}
.content a {
    color: #1877F2;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.login {
    color: #ffffff;
    background-color: #1877F2;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}
.content .account {
    width: 196px;
    height: 48px;
    background-color: #36A420;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.page {
    font-size: 17px;
    padding-top: 8px;
    padding-left: 38px;
}
.page a {
    color: black;
    text-decoration: none;
}
.page a:hover {
    text-decoration: underline;
}